.soaps {
  display: flex;
  justify-content: space-evenly;
}

.container-soap {
  margin-top: 80px;
  display: flex; /* Cambiado a display: flex */
  justify-content: space-evenly;
  flex-wrap: wrap; /* Permitir que los elementos flexibles se envuelvan a la siguiente fila en pantallas más pequeñas */
  
}


@media screen and (max-width: 768px) {
  .container-soap{
  margin-top: 350px;
  }
  
  
  }