/* Estilo general del Navbar */
.navigator {
  height: 90px;
  margin-top: -10px;
  margin-left: -10px;
  position: fixed;
  z-index: 100000;
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: center;
  opacity: 0.9;
  background:  #F5F5DC; /* Color de fondo actualizado */
  transition: background-color 0.7s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}



/* Botón para mostrar el menú en dispositivos móviles */
.nav-toggle {
  display: none;
  position: absolute;
  left: 20px; /* Alinea el toggle a la izquierda */
  top: 20px;
  cursor: pointer;
  color: black; /* Cambia el color del ícono de toggle a negro */
  font-size: 24px;
}

/* Estilo común para el menú */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

li {
  margin: 0 15px;
}

li a {
  text-decoration: none;
  color: black; /* Cambia el color del texto de los enlaces a negro */
  font-size: 18px;
  text-transform: uppercase;
}

/* Responsivo */
@media screen and (max-width: 768px) {
  .navigator{
    margin-top: -10px;
    margin-left: -10px;
  }
  ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0px; /* Empieza justo debajo del navbar */
    left: 0;
    width: 100%;
    background-color: #F5F5DC; /* Color de fondo actualizado */
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
  }

  ul.show {
    display: flex;
    max-height: 500px; /* Ajusta según el número de elementos del menú */
  }

  ul.hide {
    max-height: 0;
  }

  li {
    padding: 10px 0;
    text-align: center;
  }

  .nav-toggle {
    display: block;
  }
}
