/* Estilo general del Navbar */
.navigator {
  height: 90px;
  position: fixed;
  z-index: 100000;
  display: flex;
  width: 100%;
  padding: 0px;
  margin: -10px;
  justify-content: center;
  opacity: 0.7;
  background: #F5F5DC;
  transition: transform 0.3s ease; /* Agrega una transición para el deslizamiento */
}

/* Estilo específico para la página de inicio */
.navigator.home-page {
  background: #F5F5DC; /* Cambia el color de fondo para la página de inicio */
  margin-top: -25px;
  height: 90px;
}

/* Estilos comunes para el menú */
ul {
  display: flex;
  padding: 15px;
  justify-content: center;
  opacity: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  color: aliceblue;
  margin-left: 50px;
  padding: 20px;
}

.container-list {
  color: black;
  text-decoration: none;
  font-size: 27px;
  text-transform: uppercase;
}

/* Estilo para el elemento seleccionado */
.selected {
  background-color: salmon;
}

/* Botón para mostrar el menú en dispositivos móviles */
.nav-toggle {
  display: none; /* Oculta el botón por defecto */
  position: fixed;
  top: 10px;
  right: 10px;
  background: #F5F5DC;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Responsivo */
@media screen and (max-width: 768px) {
  .navigator {
    transform: translateY(-100%); /* Oculta el Navbar moviéndolo fuera de la pantalla */
  }
  
  .navigator.show {
    transform: translateY(0); /* Muestra el Navbar moviéndolo a su posición original */
  }
  
  ul {
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: none; /* Oculta la lista de navegación por defecto */
  }
  
  ul.show {
    display: flex; /* Muestra la lista cuando el Navbar está visible */
  }

  li {
    margin-left: 0;
  }
  
  .nav-toggle {
    display: block; /* Muestra el botón en pantallas pequeñas */
  }
}

