.navigator{
    background-color: rgb(5, 27, 134);
    position: fixed;
    z-index: 100000;;
    display: flex;
    width: 100%;
    justify-content: center;

}

ul{
    display: flex;
    padding: 15px;
    justify-content: center;
    background-color: rgb(5, 27, 134);
}

li {
    color: aliceblue;
    margin-left: 50px;
    background-color: rgb(5, 27, 134);
    padding: 20px;
    margin-left: 50px;
    list-style: none;

}
.container-list{
    color: aliceblue;
    text-decoration: none;
    font-size: 27px;
    background-color: rgb(5, 27, 134);
    text-transform: uppercase;

}

@media screen and (max-width: 768px) {
    ul {
      flex-direction: column;
      align-items: center;
      text-align: center;
      
    }
  
    li {
      margin-left: 0;
      
    }
  }